body {
    background-color: black;
}

.date {
    color: blue;
}

.append button {
    background-color: white;
    text-transform: capitalize;
    width: 100%;
    
}

.append button:hover {
    background-color: lightblue;
}

.icon0 {
    float: right;
}