body {
    background-color: black;
}

.date {
    color: blue;
}

.append button {
    background-color: white;
    text-transform: capitalize;
    width: 100%;
    border-color: blue;
    margin-top: .5rem;
}

.append button:hover {
    background-color: gray;
    color: blue;
}

.icon0 {
    float: right;
}

* {
    font-family: 'Chakra Petch', sans-serif;
}